# vscode
.vscode/launch.json
#.devcontainer

# vim
*.sw*
*~

# cgo
_obj

# fio
*.log
*.svg
fio-test-file
*.fio.data

# test
testdata/dummy.txt

# build
build

# bench
bench-result

# rust
Cargo.lock
target

# golang
go.work.sum

# tmp
3rd
test

# ctag
tags
